# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/
.expense-tracker/
# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
# Ignore sensitive tokens
token.pickle


###logs

*.log


theshortlistd-production-e6a05e835715.json
client_secret.json
